*.pyc
__pycache__/
.vscode/
.venv/
/hub/examples/image_retraining/inception
/hub/examples/image_retraining/retrained_graph.pb
/hub/examples/image_retraining/training_summaries/
/hub/examples/image_retraining/venv/
/hub/examples/image_retraining/bottlenecks/
/hub/examples/image_retraining/retrained_labels.txt
/hub/examples/image_retraining/.python-version
/hub/examples/image_retraining/run_output.txt
/hub/examples/image_retraining/training_time_log.txt
/run_output.txt
*.DS_Store

# ignore results
results